/**
 * Heroes del Teclado
 *
 * Archivo CSS principal
 *
 * @project    	2ºDAW, Practica conjunta
 * @author    	David Parro
 * @author    	Ernesto del Valle
 * @author    	Jonatan Tomillo
 * @author    	Pablo Ruiz
 * @author    	Renzo Roca
 *
 */
 @font-face {
    font-family: 'heroe';
    src: url("../fonts/heroes.ttf");
}
body{
  min-width: 400px;
}
 body>header{
 	font-family: 'heroe',sans-serif;
 	font-size:250%;
 	letter-spacing: 0.2ex;
 }
 ul.menu-admin{
 	padding: 0;
 	margin: 0;
 	list-style: none;
 	top:0;
 	width:100%;
 	background-color: rgb(61,157,179);
  color:white;
 }
 .menu-admin>li{
 	text-align: center;
  /*background-color: rgb(61,157,179);*/
 	/*background-color:white;*/
 }
 .menu-admin>li>a{
 	/*color:white;*/
 	color:inherit;
 	text-decoration: none;
 	display: block;
 	/*width: 170px;*/
 }
h1,h2{
  text-align: center;
  font-family: 'heroe';
  text-shadow: 0pt 4px 5px rgb(105, 108, 109);
}
h1{
  margin:5% 0 ;
  font-size: 7em;
}
h2{
  font-size:4em;
}
section{
  /*border: 2px solid black;*/
  min-height: 200px;
  background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:
		0pt 2px 5px rgba(105, 108, 109,  0.8),
		0px 0px 8px 5px rgba(208, 223, 226, 0.8) inset;
  font-family: 'Sniglet',cursive;
  font-size: 100%;
}
section>p{
  padding-left: 6%;
}
table{
  margin:0 auto;
  width:80%;
  text-align: center;
}
td{
  padding: 1% 0%;
width: 10%;
}
th{
  text-align: center;
  border-bottom: 2px solid black;
}
#cBusqueda{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 1000px;
}
#cBusqueda label{
  width: auto;
  padding-right: 1em;
}
#cBusqueda i{
  vertical-align: middle;
  float: right;
}
label{
  width: 50%;
}
.adInicio,.adCanciones,.adPuntuaciones,.adUsuarios,.miCuenta{
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.adInicio{border-left: 2px solid white;}
.miCuenta{border-right: 2px solid white;}
 .adInicio:hover{background-color: white;color:rgb(61,157,179);}
 .adCanciones:hover{background-color: white;color:rgb(61,157,179);}
 .adPuntuaciones:hover{background-color: white;color:rgb(61,157,179);}
 .adUsuarios:hover{background-color: white;color:rgb(61,157,179);}
 .miCuenta:hover{background-color: white;color:rgb(61,157,179);}
