/**
 * Heroes del Teclado
 *
 * Archivo CSS LOGIN Y REGISTRO
 *
 * @project    	2ºDAW, Practica conjunta
 * @author    	David Parro
 * @author    	Ernesto del Valle
 * @author    	Jonatan Tomillo
 * @author    	Pablo Ruiz
 * @author    	Renzo Roca
 *
 */
 i{margin-right: 1ex;}
 body{padding: 0;margin: 0;font-family:"Sniglet",cursive;}
 form{font-family:"Sniglet",cursive;}
 /* ---------------- Seccion footer -------------------*/
 footer{
   color: white;
   background-color: #1C1C1C;
 }
 footer>h2{
   text-align: center;
   margin:0;
   padding-top: 1em ;
   padding-bottom: 0.5em;
 }
 footer>ul{
   font-weight: bolder;
   margin:0;
   padding: 0;
   padding-bottom: 1em;
   list-style: none;
   display: flex;
   justify-content: space-around;
 }
 footer>ul>li{
   display: inline-block;
 }
 /* ---------------- Seccion header -------------------*/
header{
  /*background-color: rgb(247,247,247);*/
  font-size: 200%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  padding:0 1em;
  background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:
		0pt 2px 5px rgba(105, 108, 109,  0.8),
		0px 0px 8px 5px rgba(208, 223, 226, 0.8) inset;
}
header>a{
  text-decoration: none;
  align-self: center;
  display: block;
  color:rgb(61,157,179);
}
header>a:hover{
  color:#2B6B79;
}
/* ---------------- Seccion section -------------------*/
section{
  text-align: center;
  background-color: #f5f5f5;
}
form>label>img{
	width: 128px;
	height: 128px;
}
.datosusuario>ul{
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  margin:0;
}
.datosusuario>ul>li{
  flex:1;
}
.datosusuario>ul>li>a{
  text-decoration: none;
  display: block;
  color: black;
  background-color: rgb(61,157,179);
  padding: 1em;
  font-size: 125%;
  color:white;
}
#mis-datos,#historial,#finsesion,#administrar{
  border-right: 2px white solid;
}
.noerror{
  font-weight: bolder;
  color:green;
}
.error{
  font-weight: bolder;
  color:red;
}
/*--------------Formulario datos----------*/
form{
  margin:1em 0;
}
input{
  margin:1ex;
}
input[type='submit']{
  background-color: rgb(61,157,179);
  color:white;
  font-family: 'Sniglet',cursive;
  padding: 1ex;
  font-size: 125%;
  border-radius: 10px;
  box-shadow:
		5pt 5px 10px rgba(105, 108, 109,  0.8),
		3px 3px 10px 5px rgba(208, 223, 226, 0.8) inset;
    margin-top: 1em;
}
input[type='submit']:hover{
  background-color: #2B6B79;
}
input[type='file'],input[type='text']{
  font-family: 'Sniglet',cursive;
}
/* ------------------Seccion historial-------------------- */
.history>table{
  margin: 1em auto;
  margin-bottom: 2em;
 border-collapse: collapse;
 box-shadow: 4px 4px 10px black;
}
td,th{
  border: 2px solid black;
  padding: 1ex;
}
th{
  background-color: rgb(61,157,179);
  color:white;
  letter-spacing: 1px;;
}
td{
  background-color: white;
}
