/**
 * Heroes del Teclado
 *
 * Archivo CSS LOGIN Y REGISTRO
 *
 * @project    	2ºDAW, Practica conjunta
 * @author    	David Parro
 * @author    	Ernesto del Valle
 * @author    	Jonatan Tomillo
 * @author    	Pablo Ruiz
 * @author    	Renzo Roca
 *
 */

@font-face {
    font-family: Exo2;
    src: url("../fonts/Exo2.otf");
}
body{
 	min-width: 350px;
 	text-align: center;
 	font-family: Exo2;
}
footer ul li{
	float:left;
	width:20%;
}
footer ul{
	list-style: none;
	width: 100%;
	/*text-align: center;*/
	padding-left: 0;
}
input{
	margin-bottom: 1%;
}

form{
	width: 50%;
	padding: 18px 6% 60px 6%;
	margin:4% 19%;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:
		0pt 2px 5px rgba(105, 108, 109,  0.7),
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;

}
h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
	background:
	-webkit-repeating-linear-gradient(-45deg,
		rgb(18, 83, 93) ,
		rgb(18, 83, 93) 20px,
		rgb(64, 111, 118) 20px,
		rgb(64, 111, 118) 40px,
		rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
h1:after{
	content:' ';
	display:block;
	width:100%;
	height:2px;
	margin-top:10px;
	background:
		linear-gradient(left,
			rgba(147,184,189,0) 0%,
			rgba(147,184,189,0.8) 20%,
			rgba(147,184,189,1) 53%,
			rgba(147,184,189,0.8) 79%,
			rgba(147,184,189,0) 100%);
}
input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;
	border: 1px solid rgb(178, 178, 178);
	box-sizing : content-box;
	border-radius: 3px;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	transition: all 0.2s linear;
}
input:not([type="checkbox"]):active,
input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}
input[type="submit"],button{
	width: 30%;
	cursor: pointer;
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;
	border: 1px solid rgb(28, 108, 122);
	margin: 3% 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	box-shadow:
		0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
		0px 0px 0px 3px rgb(254, 254, 254),
		0px 5px 3px 3px rgb(210, 210, 210);
	transition: all 0.2s linear;

}
input[type="submit"]{
	float:left;
	margin-left: 2.2%;
}
button {
	float:right;
	margin-right: 2.2%;
}
input[type="submit"]:hover,button:hover{
	background: rgb(74, 179, 198);
}
input[type="submit"]:active,
input[type="submit"]:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
form>a.recordarpass{
	display: block;
	clear:both;
	margin-top:10%;
}
input {font-family:'Sniglet',FontAwesome,cursive;}
div#registro{width: 100%;}
div#registro>form{
  margin: 3em auto;
}
div#registro>form>input[type='submit'].iregistro{float:none;}
div#registro>form>input{text-align: center;}
footer>a{
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color:rgb(61,157,179);
}
footer>a:hover{
  color:#2B6B79;
}
