/**
 * Heroes del Teclado
 *
 * Archivo CSS principal
 *
 * @project    	2ºDAW, Practica conjunta
 * @author    	David Parro
 * @author    	Ernesto del Valle
 * @author    	Jonatan Tomillo
 * @author    	Pablo Ruiz
 * @author    	Renzo Roca
 *
 */
 @font-face {
    font-family: 'heroe';
    src: url("../fonts/heroes.ttf");
}
@font-face {
    font-family: LCD_Solid;
    src: url("../fonts/LCD_Solid.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.otf");
}
@font-face {
    font-family: Exo2;
    src: url("../fonts/Exo2.otf");
}
 body>header.main{
 	font-family: 'heroe',sans-serif;
 	font-size:250%;
 	letter-spacing: 0.2ex;
 }
 ul.menu-principal{
 	padding: 0;
 	margin: 0;
 	list-style: none;
 	position: fixed;
  z-index:1;
 	top:0;
 	width:100%;
 	background-image: url("../img/fondo0.jpg");
 	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
 	border-bottom: solid 1px black;
 	z-index: 1;
 }
 .menu-principal>li{
 	text-align: center;
 	padding: 10px 0 0;
 	/* Cambiar con media query el alto, 1080p 73px */
 	height: 73px;
 }
 .menu-principal>li:first-child{
 	padding: 0;
 }
 .menu-principal>li>img{
 	width: 100%;
 }
 .menu-principal>li>a{
 	/*color:white;*/
 	color:inherit;
 	text-decoration: none;
 	display: block;
 }
.canciones:hover{background-color: purple;color:white;}
.juego:hover{background-color: orange;color:white;}
.novedades:hover{background-color: green;color:white;}
.puntuaciones:hover{background-color: red;color:white;}
.menu-principal>.cuenta>a{color:inherit;}
.cuenta:hover{background-color: black;color:white;}

/* Pruebas colores de fondo */
#principal{
	background-color: orange;
	height: 800px;
}
#novedades{
	background-color: green;
	height: 800px;
}
#puntuaciones{
	background-color: red;
	height: 800px;
}
#canciones{
	background-color: purple;
	height: 800px;
}
h1{
	margin: 0;
}
body{margin: 0;padding: 0;}
#contenedor{
	margin-top: 50px;
}
.cuatro-active{background-color: purple;color:white;}
.uno-active{background-color: orange;color:white;}
.dos-active{background-color: green;color:white;}
.tres-active{background-color: red;color:white;}
.menu-principal>.cuenta>a{color:inherit;}
.cinco-active{background-color: black;color:white;}

iframe{
	display: block;
	margin:0 auto;

}
#principal{
	padding-top:3.5%;
}
section>h2{
  margin-top: 0;
  font-family: 'heroe',sans-serif;
  font-size: 7em;
  text-align: center;
  padding-top: 2%;
}
.oculto{
  position: relative;
  top:-9999px;
}
/* ----------------- PRIMER BLOQUE -----------------  */
#principal{
	background-image: url("../img/fondo1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
}
#principal>div{
	text-align: center;
}
/* ----------------- PRIMER BLOQUE - MUSICA -----------------  */
#cancionesP>h1{
	color: red;
  text-shadow:0.1em 0.1em 0.1em #000;
}
#musica-seleccionada>p{
	margin-top: 1em;
	font-size: 1.5em;
	background-color: orange;
	border: solid 1px black;
	border-radius: 1em;
}
#musica-seleccionada img{
  width: 100%;
}
/* ----------------- PRIMER BLOQUE - PUNTUACIONES -----------------  */
div#puntuacionesP{
    text-shadow:0.1em 0.1em 0.1em #000;
}
/* ----------------- PRIMER BLOQUE - IFRAME JUEGO -----------------  */
#juegoP>iframe{
	border: solid 3px black;
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
}

/* ----------------- PRIMER BLOQUE - TABLA -----------------  */
#principal td, #principal th{
	text-align: center;
}
#principal>div>table>caption{
	text-align: center;
	font-size: 2em;
	color: red;
}
#principal>div>table>thead{
	color: #fff;
    background-color: #373a3c;
}
#principal>div>table>tbody{
	color: white;
}
/* -----------------SEGUNDO BLOQUE NOVEDADES-----------------  */
#novedades{
	background-image: url("../img/fondo2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-color: #358462;
  color:white;
}
.novedad{
	text-align: center;
	background-color: #85B087;
	margin: 2em 15%;
	border: 1px solid black;
	font-family: Exo\ 2,Open Sans,Sans-serif;
	font-weight: 300;
	line-height: 150%;
	letter-spacing: -.5px;
}
.novedad>h2{
	font-family: Montserrat,Sans-serif;
	font-weight: 600;
	letter-spacing: -2px;
	color: #B52C29;
	font-size: 3em;
}
.novedad>p{
	font-size: 1.5em;
}
.novedad>h2+p{
	margin-top: 2em;
}
.novedad>h2+p+p{
	margin-right: 2em;
	text-align: right;
}
/* -----------------Bloque Puntuaciones----------------------*/
#puntuaciones{
  color:white;
	background-image: url("../img/fondo3.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
	height: 800px;
}
#lPuntuaciones{
  margin:0 auto;
  text-align: center;
  font-family: 'Sniglet',cursive;
}
#lPuntuaciones>thead{
  border-bottom: 2px solid white;
}
#lPuntuaciones>thead>tr>th{
  text-align: center;
  padding: 0 1em;
}
h3{
  font-family: "Sniglet",cursive;
  text-align: center;
}
/* -----------------CUARTO BLOQUE CANCIONES-----------------  */
#canciones{
  background-image: url("../img/fondo4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
}
#lCanciones{

  margin-left: 5%;
  width: 80%;
  text-align: center;
}
#lCanciones th{
  border-bottom: 3px solid #ddd;
  text-align: center;
}
#lCanciones td{
  border-bottom: 1px solid #ddd;
  padding: 1%;
}
/*----------------------------footer----------------------------*/
footer{
  color: white;
  background-color: #1C1C1C;
}
footer>h2{
  text-align: center;
  margin:0;
  padding-top: 1em ;
  padding-bottom: 0.5em;
}
footer>ul{
  font-weight: bolder;
  margin:0;
  padding: 0;
  padding-bottom: 1em;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
footer>ul>li{
  display: inline-block;
}
